.home_main_part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home_main_part h1{
    margin-top: 0.5rem;
}
.home_main_part textarea{
    width: 500px;
    margin-bottom: 0.42rem;
}
.btn_color{
    margin-top: 0.5rem;
    border-radius: 10px;
    padding:0.3rem 0.5rem;
    border: none;
    margin-left: 1rem;
    background-color: rgb(245, 91, 35);
    color: black;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}
.btn_color:hover{
    background-color: rgb(224, 87, 37);
    transform: scale(1.02);
}
#summary{
    font-size: 27px;
    margin-block: 0.5rem;
}
.home_main_part h3{
    margin-top: 0.5rem;
}
#preview_text{
    padding-bottom: 1rem;
}
.light-mode {
    background-color: #f0f0f0;
    color: #000;
  }
  
  .dark-mode {
    background-color: #222;
    color: #fff;
  }