*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nabvar_btn{
  margin-top: 1rem;
  margin-left: 80rem;
  font-size: 13px;
  font-weight: 600;
  color: black;
  padding: 0.8rem 1rem;
  border: none;
  border-radius: 15px;
  background-color: rgb(231, 229, 229);
}
.nabvar_btn:hover{
  transform: scale(1.01);
  background-color: rgb(221, 217, 217);
}